main{    
    text-align: center;
    padding: 50px;
    /* width: 1200px; */
}
main img{
    border-radius: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px #000;
}
main p{
    color: #4b5563;
    width: 700px;
    margin: 0 auto;
}
.card-grid{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    background-color: lightgray;
    border-radius: 10px;
    padding: 30px;
}

